main{
    background-color: #efefef;
    padding: 30px 0;
    .detail1{
        h3{
            font-size: 20px;
        }
        ul li{
            line-height: 35px;
            text-align: center;
            margin-right: 40px;
            a{
                font-size: 16px;
            }
        }
    }
    .detail2{
        h3{
            font-size: 20px;
        }   
        ol{
            margin-top: -20px;
            background-color: transparent;
            color: white;
            li.active{
                color: white;
            }
            a{
                color: white;
            }
        }
    }
    .detail3{
        h3{
            text-align: center;
        }
        span{
            display: block;
            text-align: center;
            font-size: 13px;
            color: #999;
            margin: 20px 0;
        }
        img{
            width: 100%;
        }
        p{
            margin-top: 15px;
            line-height: 1.8;
            text-indent: 2em;
        }
        ul{
            line-height: 30px;
        }
    }
}