<link rel="stylesheet" href="/less/list.css">
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-info list1">
                    <div class="panel-heading" style="background-color: #eae4da;border: none;color: #7e0001;">
                        <h3 class="panel-title">模块天地</h3>
                    </div>
                    <div class="panel-body" >
                        <ul class="list-unstyled" >
                            <li class="active"><a href="/users/list" style="color: black;">师大要闻</a></li>
                            <li>
                                <a href="/users/index" style="color: black;">首页内容</a>
                            </li>
                            <li><a href="##" style="color: black;">校园事宜</a></li>
                            <li><a href="##" style="color: black;">文化师大</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="">
                    <div class="panel-heading">
                        <ol class="breadcrumb pull-right" style="background-color: transparent;margin-top: -20px;">
                            <li>当前位置:</li>
                            <li><a href="/users/index" style="color: black;">首页</a></li>
                            <li class="active" style="color: #7e0001;">师大要闻列表页</li>
                        </ol>
                    </div>
                    <div class="panel-body" id="listbody">
                        <ul class="list-unstyled" >

                        </ul>
                        <ul class="pagination pagination-lg pull-right" id="listPage">

                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="/js/agent.js"></script>
<script>
    const oDiv = document.getElementById('listbody');
    const oUl1 = oDiv.querySelector('ul.list-unstyled');
    const oUl2 = oDiv.querySelector('ul.pagination');
    let pageNum = 0;
    let curPage = 0;

    function showData() {
        let str = '';
        $.getJSON('/users/getList?curPage=' + curPage, function (arr) {
            arr.forEach(el => {
                let date=new Date(el.updatedAt).toLocaleDateString();
                str += `
                        <li class="row list4">
                               <a class="col-md-3" href="/users/detail?id=${el.id}">
                                   <img class="media-object" style='width: 100%;' src="/newSmallImg/${el.smallSrc}"
                                        alt="...">
                               </a>
                               <div class="col-md-9  list3">
                                <a href="/users/detail?id=${el.id}">
                                    <span style="color:black;">${el.title} </span>
                                            <span class="pull-right" style="width: 82px;
                                            height: 30px;
                                            font-size: 14px;
                                            font-family: 'Candara';
                                            line-height: 30px;
                                            color: #9d0301;
                                            text-align: center;
                                            font-weight: bold;
                                            top: 18px;">${date}</span>
                                    </h4>
                                   </a>
                                   <div>                     
                                       
                                   </div>
                               </div>
                        </li>`
            })
            oUl1.innerHTML=str;
        });
        subPage();
    }
    showData();
    function subPage(){
        let str=`<li data-id="prev"><a href="#" style="color:black">&laquo;上一页</a></li>`;
        $.getJSON('/users/getNum',function(num){
            pageNum=Math.ceil(num/5);
            for(let i=0;i<pageNum;i++){
                if(i===curPage){
                    str+=`<li data-id=${i} class="active"><a href="#" style="background-color:#7e0001;border:none;">${i+1}</a></li>`;
                }
                else{
                    str+=`<li data-id=${i}><a href="#" style="color:black;">${i+1}</a></li>`;

                }
            }
            str+=`<li data-id='next'><a href="#" style="color:black">下一页&raquo;</a></li>`
            oUl2.innerHTML=str;
        });

        }
        agent1('listPage','click','li',function(){
            const liName=this.getAttribute('data-id');
            if(liName==='prev'){
                curPage=curPage>0?--curPage:0;
            }else if(liName==='next'){
                curPage=curPage<pageNum-1?++curPage:curPage;
            }else{
                curPage=liName-0
            }
            showData()
        })
</script>